################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LokiBulkDataProcessor/obj
/.vs/BulkDataProcessor/v16
/.vs
/LokiBulkDataProcessor/bin/Debug
/LokiBulkDataProcessor.UnitTests/obj
/LokiBulkDataProcessor.UnitTests/bin/Debug/netcoreapp3.0
/LokiBulkDataProcessor.IntegrationTests/bin
/LokiBulkDataProcessor.IntegrationTests/obj
/LokiBulkDataProcessor/bin/Release/netcoreapp3.0
/LokiBulkDataProcessor.UnitTests/bin/Release/netcoreapp3.0
/LokiBulkDataProcessor/bin/Release
/LokiBulkDataProcessor.UnitTests/bin
